// TODO

.postContent {
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--heading);
    transition: color 0.2s;
  }

  p {
    font-size: 1.125rem;
    margin-top: 0.5rem;
    color: var(--body);
  }

  & + .postContent {
    margin-top: 3rem;
  }

  &:hover h1 {
    color: var(--highlight);
  }

  cursor: pointer;
}

.showMore {
  width: 100%;
  max-width: 700px;
  margin-top: 4rem;
  display: flex;
  font-weight: 600;
  color: var(--highlight);

  a {
    cursor: pointer;
  }
}
